<!DOCTYPE html>
<html>

<head>

    <title>Smart Password Guessing Game</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <h1>🎮 Smart Password Guessing Game</h1>

    
    <p>
    🔐 Guess the hidden password.<br>
    🏆 Earn the highest score.<br>
    📜 Track your game history.<br>
    🎯 Challenge yourself and become the champion!
</p>

    <a href="/start">
    <button>🎮 Start Game</button>
</a>

<br><br>

<a href="/leaderboard">
    <button>🏆 Leaderboard</button>
</a>

<br><br>

<a href="/history">
    <button>📜 Game History</button>
</a>

</div>

</body>
</html>